/* This is how we do commenting in CSS */
/* h1 {
    color: orange;
    background-color: pink;
}

p {
    color: red;
    background-color: lightgreen;
} */


/* h1 {
    font-size: 32px;
    font-weight: bold;
} */
